.git
.gitignore
.vscode
.idea

**/node_modules
**/target
**/dist
**/.vite
**/.vite-temp
**/coverage
**/.DS_Store

*.log
logs

Platfrom/backend/scripts/prod-local.env
Platfrom/backend/scripts/run-prod-local.local.sh
